@{
    ViewData["Title"] = "Home Page";
}


@{

    if (TempData["status"] != null)
    {
        <h2 class="text-success">@TempData["status"]</h2>
    }



    if (TempData["status2"] != null)
    {
        <h2 class="text-success">@TempData["status2"]</h2>
    }
}